/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap'); /*(2026.08.31) */
@import 'tailwindcss';


@theme {
    --color-dark: #31353f;
    --color-sand: #c0b89b;
    --color-sage: #bec0b1;
    --color-slate: #7c7f82;
    --color-offWhite: #f4f5f4;

    --font-cascadia: "Cascadia Code", monospace;
}

@layer components {
  .my-button {
    @apply font-cascadia bg-sand text-dark rounded-lg
           text-lg font-semibold
           transition-colors duration-200
           hover:bg-offWhite hover:text-dark;
           padding: 1rem 2rem;
  }
}

@layer components{
  .my-inputField{
    @apply p-2 bg-slate text-offWhite placeholder:text-offWhite rounded outline-none font-cascadia text-sm;
  }
}

@utility my-h2-header {
    @apply text-3xl font-bold text-offWhite font-cascadia;
}

router-outlet + * {
    display: block;
    height: 100%;
}

@layer components {
  .my-metric-card{
    @apply rounded-lg overflow-hidden text-center;
  }

  .my-metric-header {
    @apply text-sm font-cascadia bg-slate text-offWhite p-2;
  }

  .my-metric-value {
    @apply text-2xl font-bold font-cascadia bg-sage text-dark p-4;
  }
}